---
const { hoverColor = "" } = Astro.props; // Destructure hoverColor prop with a default value

const colorMap = {
    "orange-400": "hover:text-orange-400",
    "blue-500": "hover:text-blue-500",
    "red-400": "hover:text-red-400",
    "blue-400": "hover:text-blue-400",
    "green-500": "hover:text-green-500",
    "purple-600": "hover:text-purple-400",
    "cyan-400": "hover:text-cyan-400",
    "teal-400": "hover:text-teal-400",
    "purple-500": "hover:text-purple-400",
    "orange-600": "hover:text-orange-400",
    "gray-400": "hover:text-gray-400",
    "blue-700": "hover:text-blue-400",
    "yellow-400": "hover:text-yellow-400",
    "yellow-500": "hover:text-yellow-500",
}
---
<a
    class={`
    bg-white/5 text-white lg:text-lg text-2xl font-medium
    rounded-full border border-white/10
    mt-4 px-4 flex
    items-center
    hover:text-${hoverColor} hover:scale-105
    transition-colors duration-300`
    }
    {...Astro.props}
    target="_blank"
    rel="noopener noreferrer"
    >
    <slot />
</a>