@import "tailwindcss";

/* Animación del gradiente */
@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


.bg-animated-gradient {
  background: linear-gradient(-45deg, #543500, #000000c8, #4aaeffb2);
  background-size: 400% 400%;
  animation: gradient 5s ease-in-out infinite;

}

/* Efecto inicial y animación de entrada */
.fade-section {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
}

