---
import Badge from '../components/Badge.astro';
import Layout from '../layouts/Layout.astro';
import SocialPill from '../icons/SocialPill.astro';
import HtmlIcon from '../icons/Html.astro';
import BootstrapIcon from '../icons/Bootstrap.astro';
import CssIcon from '../icons/Css.astro';
import ReactIcon from '../icons/React.astro';
import PhpIcon from '../icons/Php.astro';
import NodeJsIcon from '../icons/NodeJs.astro';
import MySqlIcon from '../icons/MySql.astro';
import JavaScriptIcon from '../icons/JavaScript.astro';
import TailwindCss from '../icons/TailwindCss.astro';
import AstroIcon from '../icons/AstroIcon.astro';
import SectionProyectos from '../components/SectionProyectos.astro';
import Footer from '../components/Footer.astro'
import SeccionSobreMi from '../components/SeccionSobreMi.astro';
// const hoverColor = Astro.props.hoverColor;

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Melvin Brito Portfolio">
	<main class="max-w-full sm:max-w-md md:max-w-lg lg:max-w-6xl mx-auto p-4 sm:p-6 lg:p-8">
		<section id="inicio"
		class="
			fade-section 
			lg:w-full lg:px-10 lg:mt-40 lg:py-20
			md:w-full md:px-10 md:mt-40 md:py-20
			w-250 mx-auto px-10 mt-70 py-20
			flex justify-center lg:flex-col
			flex-col
			items-center
			bg-linear-to-r from-white/10
			to-blue-500/50 backdrop-blur-lg
			border border-white/20 rounded-3xl ">
			<div class="w-full flex justify-center pb-5">
				<img class="rounded-full w-40 h-40 mb-8 border-4 border-blue-500 hover:scale-105 transition-all duration-300 hover:shadow-2xl shadow-yellow-400/40"
				src="https://avatars.githubusercontent.com/u/157369809?v=4"
				alt="Melvin Foto"
			/>
			</div>
			<h1 class="text-6xl lg:w-full lg:text-5xl font-bold text-white/70 flex flex-row items-center gap-x-3 pb-7">
				Hola, soy <span class="text-blue-400 text-shadow-lg/70">Melvin Brito</span>
				<a
					href="https://www.linkedin.com/in/melvin-brito-7b7904296/"
					target="_blank"
					rel="noopener"
					class="flex justify-center items-center">
					<Badge>Disponible para trabajar</Badge>
				</a>

			</h1>
			<h2 class="lg:w-full pb-4 lg:text-xl text-4xl text-white/80 text-justify my-4 opacity-90">
				Bienvenidos a mi portafolio personal. Soy un <span class="text-yellow-500/90 text-shadow-lg/70">Programador de Páginas Web</span> apasionado por crear experiencias digitales únicas y funcionales.
				<br><br>
				Actualmente estoy viviendo en <span class="text-yellow-500/90 text-shadow-lg/70"> Madrid, España.</span> Donde recientemente he completado un Grado Superior de Programación en Desarrollo de Páginas web full-stack en la <a  class="text-yellow-500/90 text-shadow-lg/70 underline" href="https://www.masterd.es/fp-tecnico-superior-desarrollo-web" target="_blank">Escuela de Informática y Comunicaciones MasterD</a>.
			</h2>
			<h2 class="lg:w-full lg:text-xl text-4xl text-white/80 text-justify mb-4 text-wrap opacity-90">
				 Durante este grado superior, adquirí habilidades sólidas en tecnologías y herramientas claves:
			</h2>

			<ul class="lg:px-5 mt-8 flex flex-row flex-wrap justify-center gap-x-4 gap-y-4">
				<SocialPill href="#" hoverColor="orange-400">
					<HtmlIcon />
					HTML5
				</SocialPill>
				<SocialPill href="#" hoverColor="blue-500">
					<CssIcon />
					CSS3
				</SocialPill>
				<SocialPill href="#" hoverColor="yellow-400">
					<JavaScriptIcon />
					JavaScript
				</SocialPill>
				<SocialPill href="#" hoverColor="blue-400">
					<ReactIcon />
					React.js
				</SocialPill>
				<SocialPill href="#" hoverColor="green-500">
					<NodeJsIcon />
					Node.js
				</SocialPill>
				<SocialPill href="#" hoverColor="purple-400">
					<BootstrapIcon />
					Bootstrap
				</SocialPill>
				<SocialPill href="#" hoverColor="cyan-400">
					<AstroIcon />
					Astro
				</SocialPill>
				<SocialPill href="#" hoverColor="teal-400">
					<TailwindCss />
					Tailwind CSS
				</SocialPill>
				<SocialPill href="#" hoverColor="purple-400">
					<PhpIcon />
					PHP
				</SocialPill>
				<SocialPill href="#" hoverColor="orange-400">
					<MySqlIcon />
					MySQL
				</SocialPill>
			</ul>
		</section>
		<SectionProyectos />
		<SeccionSobreMi />
	</main>
	<Footer />

</Layout>
