<header class="w-full flex justify-center items-center py-6 w-[1120px] mx-auto bg-gradient-to-r from-white/10 to-blue-500/10 backdrop-blur-lg border border-white/20 rounded-2xl">

    <nav class="h-7 flex flex-row gap-x-10 opacity-80 text-white font-medium text-lg">
        <a class="hover:text-blue-300 hover:border-b-1 hover:scale-105 transition-transform duration-100" href="/">Inicio</a>
        <a class="hover:text-blue-300 hover:border-b-1 hover:scale-105 transition-transform duration-100" href="#sobre-mi">Sobre mí</a>
        <a class="hover:text-blue-300 hover:border-b-1 hover:scale-105 transition-transform duration-100" href="#proyectos">Proyectos</a>
        <a class="hover:text-blue-300 hover:border-b-1 hover:scale-105 transition-transform duration-100" href="#footer-contacto">Contacto</a>
    </nav>

</header>