---
// import { setupActiveNav } from "../scripts/activeNav.js";
---
<header
  class="
  w-full flex justify-center items-center
  lg:w-[60%] lg:py-2 lg:mx-auto bg-linear-to-r
  from-white/10 to-blue-500/10 backdrop-blur-lg border
  border-white/20 lg:rounded-2xl rounded-4xl shadow-md
  lg:top-0 lg:left-0 lg:right-0 lg:z-50
  fixed top-0 z-50">
  <img class="rounded-full w-12 lg:ml-2 border-4 border-blue-500/50 hover:scale-105 transition-all duration-300 hover:shadow-2xl"
				src="https://avatars.githubusercontent.com/u/157369809?v=4"
				alt="Melvin Foto"
			/>
    <nav id="header0"
        class="
        w-full lg:py-1 py-3 mx-auto
        lg:gap-x-10 md:gap-x-10 gap-x-5 opacity-80
        flex lg:flex-row justify-center flex-wrap
      text-white font-medium lg:text-lg
        text-center text-1xl lg:space-y-0
        ">
        <a class="nav-link hover:text-yellow-500 hover:border-b hover:scale-105 transition-transform duration-100 text-shadow-lg/80 lg:text-lg" href="#inicio">Inicio</a>
        <a class="nav-link hover:text-yellow-500 hover:border-b hover:scale-105 transition-transform duration-100 text-shadow-lg/80 lg:text-lg" href="#proyectos">Proyectos</a>
        <a class="nav-link hover:text-yellow-500 hover:border-b hover:scale-105 transition-transform duration-100 text-shadow-lg/80 lg:text-lg" href="#sobre-mi">Sobre mí</a>
        <a class="nav-link hover:text-yellow-500 hover:border-b hover:scale-105 transition-transform duration-100 text-shadow-lg/80 lg:text-lg" href="#footer-contacto">Contacto</a>
    </nav>

</header>