---
import SocialPill from '../icons/SocialPill.astro';
import CvIcon from '../icons/CvIcon.astro';
---
<section>
    <h2 id="sobre-mi" class="text-3xl font-semibold text-center my-20 text-shadow-lg/80">Sobre Mí</h2>
    <p class="text-lg text-center text-white/80 flex justify-center items-center gap-x-2">
        <SocialPill href="https://drive.google.com/file/d/10z4bzGJGluQLXoKxgF7rWsFW-P6NLr31/view?usp=drive_link" hoverColor="cyan-400">
            <CvIcon />
            Descargar CV
        </SocialPill>
    </p>
    <p class="w-full text-lg text-center text-white/80 text-wrap my-8 px-5 md:px-20 lg:px-40">
        Mi objetivo es combinar creatividad y funcionalidad para ofrecer soluciones digitales innovadoras.
        Siempre estoy en busca de nuevos desafíos y oportunidades para crecer profesionalmente.
    </p>
    <ul class="list-disc list-inside text-lg text-start text-white/80 mb-8 px-5 md:px-20 lg:px-40">
        <li>Grado Superior en Desarrollo de Aplicaciones Web</li>
        <li>Carnet de conducir</li>
        <li>Inglés B1</li>
    </ul>

</section>