---
import SocialPill from '../icons/SocialPill.astro';
import CvIcon from '../icons/CvIcon.astro';
---
<section id="sobre-mi" 
    class="fade-section
        lg:w-[1000px] lg:mt-40 lg:py-20 lg:px-20
		md:w-[700px] md:px-10 md:mt-40 md:py-20 md:mx-auto
		w-full mx-auto px-10 my-20 py-30
        bg-linear-to-r from-gray/10 to-blue-500/30 backdrop-blur-lg border border-white/20 rounded-3xl">
    <h2
        class="lg:text-5xl text-4xl text-white/50 font-semibold text-center lg:mb-20 mb-20 text-shadow-lg/80 underline decoration-yellow-600 scale-105 transition-all duration-300 underline-offset-10 opacity-90">
        Sobre Mí
    </h2>
    <p class="lg:text-2xl text-center text-white/80 flex justify-center items-center gap-x-2">
        <SocialPill href="/cv/Melvin_Brito_CV.pdf" hoverColor="yellow-500">
            <CvIcon />
            Descargar CV
        </SocialPill>
    </p>
    <p class="lg:text-lg text-[20px] my-10 whitespace-pre-line tracking-normal text-white/80 text-wrap lg:my-8 lg:px-30 lg:py-4 pt-10 px-5">
        Mi objetivo es combinar creatividad y funcionalidad para ofrecer soluciones digitales innovadoras.
        
        Estoy en busca de nuevos desafíos y oportunidades para crecer profesionalmente.

        También estoy aprendiendo nuevas integraciones con la inteligencia artificial para mejorar la experiencia del usuario en las aplicaciones web y optimizar procesos de desarrollo.

        Actualmente, estoy abierto a ofertas de empleo y colaboraciones en proyectos.
        Estoy emocionado por conectar con profesionales del sector y explorar posibles colaboraciones.
    </p>
    <p class="lg:text-lg text-[20px] whitespace-pre-line tracking-normal lg:text-center text-white/80 text-wrap lg:my-8 lg:px-3 lg:py-4 px-10">
        Algunas de mis cualificaciones incluyen:
        <br />
        <ul class="list-disc list-inside lg:text-lg text-[18px] text-left text-wrap text-white/80 lg:mx-20 mb-8 lg:px-10 px-5 ">
            <li>Grado Superior en Desarrollo de Aplicaciones Web</li>
            <li>Carnet de conducir</li>
            <li>Inglés B1</li>
            <li>Conocimiento de IA</li>
        </ul>
    </p>

</section>