---
import SocialPill from '../icons/SocialPill.astro';
import CvIcon from '../icons/CvIcon.astro';
---
<section id="sobre-mi" 
    class="fade-section
        lg:w-7xl lg:mt-40 lg:py-20 lg:px-20
			md:w-5xl md:px-10 md:mt-40 md:py-20 md:mx-auto
			w-5xl h-full mx-auto px-10 my-70 py-50 
            bg-linear-to-r from-gray/10 to-blue-500/20 backdrop-blur-lg border border-white/20 rounded-3xl">
    <h2
        class="lg:text-5xl text-6xl text-white/50 font-semibold text-center lg:mb-20 my-20 text-shadow-lg/80 underline decoration-yellow-600 scale-105 transition-all duration-300 underline-offset-10 opacity-90">
        Sobre Mí
    </h2>
    <p class="lg:text-2xl text-center text-white/80 flex justify-center items-center gap-x-2">
        <SocialPill href="/cv/Melvin_Brito_CV.pdf" hoverColor="yellow-500">
            <CvIcon />
            Descargar CV
        </SocialPill>
    </p>
    <p class="w-full lg:text-lg text-4xl my-10 text-center tracking-normal text-white/80 text-wrap lg:my-8 lg:px-30 lg:py-4 py-10 px-10">
        Mi objetivo es combinar creatividad y funcionalidad para ofrecer soluciones digitales innovadoras.
        Estoy en busca de nuevos desafíos y oportunidades para crecer profesionalmente.
        <br />
        <br />
        También estoy aprendiendo nuevas integraciones con la inteligencia artificial para mejorar la experiencia del usuario en las aplicaciones web y optimizar procesos de desarrollo.
        <br />
        <br />
        Actualmente, estoy abierto a ofertas de empleo y colaboraciones en proyectos.
        Estoy emocionado por conectar con profesionales del sector y explorar posibles colaboraciones.
    </p>
    <p class="w-full lg:text-lg text-4xl text-justify tracking-normal lg:text-center text-white/80 text-wrap lg:my-8 lg:px-3 lg:py-4 py-10 px-10">
        Algunas de mis cualificaciones incluyen:
        <br />
        <ul class="list-disc list-inside lg:text-lg text-3xl text-start text-white/80 mb-8 lg:px-10">
            <li>Grado Superior en Desarrollo de Aplicaciones Web</li>
            <li>Carnet de conducir</li>
            <li>Inglés B1</li>
            <li>Conocimiento de IA</li>
        </ul>
    </p>

</section>