---
  import '@fontsource-variable/onest';
  import '../styles/global.css'
  import Header from '../components/Header.astro'
//   import "../scripts/scrollFade.js";

  interface Props {
	title: string;
  }// Define the props interface
  const { title } = Astro.props; // Destructure the title prop
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title> <!-- Use the title prop here -->
	</head>
	<body class="grid grid-cols-1 col-span-1 mx-auto lg:bg-animated-gradient relative">
		<Header />
		<slot />
	</body>
	<script src="../scripts/activeNav.js"></script>
	<script src="/src/scripts/scrollFade.js"></script>

</html>

<style is:global>
	:root {
		color-scheme: light dark;
	}

	html {
		font-family: 'Onest Variable', sans-serif;
		scroll-behavior: smooth;
	}

	body {
		box-sizing: border-box;
	}
</style>
